<%- include('_partial/header') %>

<!-- <h1><%= title %></h1>
<p>Welcome to <%= title %></p> -->

<ul>
    <li> <a href="/sql-injection">SQL Injection</a> </li>
    <li> <a href="/xss">XSS (Cross-Site Scripting)</a> </li>
</ul>

<%- include('_partial/footer') %>
