<%- include('_partial/header') %>

<form>
  <div>
    <label>
      <span>Usuário:</span>
      <input name="username">
    </label>
  </div>
  <div>
    <label>
      <span>Senha:</span>
      <input name="password">
    </label>
  </div>
  <div>
    <button type="submit">Enviar</button>
  </div>
</form>

<%- include('_partial/footer') %>
